.primary-button {

    background:
        linear-gradient(
            135deg,
            #2563eb,
            #06b6d4
        );

    color: white;

    border: none;

    padding: 14px 28px;

    border-radius: 14px;

    font-size: 1rem;
    font-weight: 600;

    cursor: pointer;

    transition: all .3s ease;
}

.primary-button:hover {

    transform: translateY(-3px);

    box-shadow:
        0 0 25px rgba(59,130,246,.4);
}

.primary-button:active {

    transform: scale(.97);
}